@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat-Light";
  src: url("../fonts/Montserrat-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {
  background:
    url(../img/4.png) no-repeat right top,
    url(../img/5.png) no-repeat left bottom -150%;
  background-size: 30%;
}

.blck {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: 5%;
  margin-top: 1%;
}

h1{
  color: #0bd688;
  font-family: "Montserrat-Light";
  font-size: calc(1em + 3vw);
  letter-spacing: 1px;
}

h2, p, a{
  color: #0222a1;
  font-family: "Montserrat-Regular";
}

h2{
  font-size: calc((1em + 3vw) / 1.6);
}

p{
  margin: 1.2vh;
  font-size:  calc((1em + 3vw) / (2*1.6));
}

.container_main {
  display: flex;
  flex-direction: column;
}

.container_content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text_col{
  display: flex;
  flex-direction: column;
}

.main_img{
  display: flex;
  align-self: flex-end;
}

.text_information{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#mockup_turbo{
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.container_btn{
  display: flex;
  justify-content: space-between;
  padding-right: 10%;
  padding-top: 3%;
}

#logo_turbo{
  max-width: 10%;
  max-height: 10%;
  margin-top: auto;
}

.buttons{
  width: 45vw;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.btn {
  display: flex;
  justify-content: center;
  background: #0bd688;
  color: #fff;
  width: 30%;
  padding: 2% 2rem;
  text-decoration: none;
  border-radius: 30px;
  margin-right: 3%;
  margin-top: auto;
  font-size: calc((1em + 2vw) / (2*1.6));
}

.licence {
  padding-top: 20px;
}

.licence_text {
    color: #080808;
    font-size: 16px;
    font-family: 'Montserrat',Arial,sans-serif;
    line-height: 1.35;
    font-weight: 500;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    margin: 0;
}

.licence_link {
  color: #0bd688;
  text-decoration: none;
}