/*стиль текста в теле*/
body {font-family: Verdana, Arial, sans-serif; font-size:10pt; line-height: 14pt; max-width:100%; display: block;  margin-left: 20px;  margin-right: 20px; text-align:justify;}

/* Стили заголовков по уровням: */
H1       {font-size:12pt; font-weight:bold; color:blue; text-align:left; margin-top: 0px; margin-bottom:0px}
H2       {font-size:11pt; font-weight:bold; color:navy; text-align:left; margin-top:10px; margin-bottom:0px}
H3       {font-size:10pt; font-weight:bold; color:blue; text-align:left; margin-top:10px; margin-bottom:0px}
H4       {font-size:10pt; font-weight:bold; color: CCC; text-align:left; margin-top:10px; margin-bottom:0px}

/* Cтиль параграфа: */
p        {text-align:justify; margin-top:10px}

.path    {background:FFF;}

/* Стиль обычного текста */
.std     {font-size: 10pt; text-decoration:none}

/* Код на ТБ.Скрипт. Пример использования: <p class="code"> */
.code    {font-family: Courier New, monospace}

/* Стиль вопроса в разделе FAQ. Пример использования: <p class="faqq"> */
.faqq  {font-size: 10pt; color: navy; text-decoration:none; font-style: italic}

/* Стиль ответа в разделе FAQ. Пример использования: <p class="faqa"> */
.faqa  {font-size: 10pt; text-decoration:none}

/* Стиль подписи к ответу в разделе FAQ. Пример использования: <p class="faqs"> */
.faqs  {font-size: 8pt; font-style: italic; text-decoration:none; text-align: right; margin-top: 0}

/* Определение ключевого слова. Пример использования: <span class="keyword">Ключевое слово</span> */
.keyword {font-weight: bold}

/* Определение раздела */
.section {font-weight: bold; color:blue}

/* Цитирование надписей на экране. Пример использования: <span class="screen">Название кнопки</span> */
.screen  {font-family: Arial, sans-serif; font-weight: bold}

/* Ссылка на какое-либо имя в тексте. Пример использования: <span class="name">РесурсОткуда</span> */
.name    {font-style: italic}

/* Элемент списка, перед которым не стоит никакого символа, кроме отступа. Пример использования: <li class="blank"> */
li.blank {list-style-type: none}

font.mainlink {font-size: 10pt}

/* Элемент списка, перед которым не стоит никакого символа, кроме отступа. Пример использования: <li class="blankMarker"> */
li.blankMarker {list-style-type: Disk}

/* Стиль сдвига Пример использования: <p class="sd"> */
.sd     {font-family:  Courier New, monospace, font-size: 9pt; text-align:left; margin-left:30px; margin-top:6px; margin-bottom:2px}

/* Стиль сдвига Пример использования: <p class="sdArial"> */
.sdArial  {font-size: 9pt; text-align:left; text-decoration:none;  margin-left:20px; margin-top:6px; margin-bottom:2px}

/* Стиль сдвига Пример использования: <p class="sdArial1"> */
.sdArial1  {font-size: 9pt; text-decoration:none; margin-left:1px; margin-top:6px; margin-bottom:2px}

/* Стиль сдвига на 10 относительно UL. Пример использования: <p class="sd10"> */
.sd10   {font-family:  Courier New, monospace, font-size: 9pt; text-align:left; margin-left:10px; margin-top:6px; margin-bottom:2px}

/* Стиль сдвига Пример использования: <li class="lisd"> */
.lisd   {font-size: 10pt; padding-left:6px; text-decoration:none}

/* Стиль для таблиц, чтобы уменьшить шрифт. Пример использования: <p class="codeMV"> */
.codeMV {font-family:  Courier New, font-size: 1pt; }
/* Стиль сдвига на 10 относительно UL. Пример использования: <li class="sd70"> */
.sd10   {font-family:  Courier New, monospace, font-size: 9pt; text-align:left; margin-left:70px; margin-top:6px; margin-bottom:2px}

/* Стиль сдвига Пример использования: <p class="sdArial40"> */
.sdArial40  {font-size: 15pt; text-align:left; margin-left:40px; margin-top:6px; margin-bottom:2px}

ul             {list-style-type:circle; }