.leaflet-legend {
  background-color: white;
  padding: 6px 15px 6px 6px;
  font-size: 12pt;
}

.leaflet-legend-item {
  display: table;
  margin: 6px 0;
}

.leaflet-legend-item span {
  vertical-align: middle;
  display: table-cell;
  word-break: keep-all;
  white-space: nowrap;
  background-color: transparent;
  text-align: left;
}

.leaflet-legend-item i {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.leaflet-legend-item i img {
  vertical-align: middle;
}