
body {
    font-family: Arial,sans-serif;
    margin: 0;
    padding: 0;
}

main {
    display: block; /*ie11*/
}

footer {
    margin: 10px;
}

.custom-button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 0;
    border-radius: 3px;
}

.btn-success {
    color: #fff;
    background-color: #5cb85c;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
}

.kanban-item, .kanban-board, .kanban-board-header {
    border-radius: 3px;
}

.kanban-board .kanban-drag {
    min-height: 30px;
    padding: 0 10px;
}

.kanban-board header .kanban-title-board {
    margin-left: 16px;
}

.kanban-board header {
        font-size: 14px;
}

.kanban-item {
        padding: 0;
        margin-bottom: 10px;
        cursor: pointer !important;
}

.not-draggable {
    cursor: default !important;
}


#menu {
  visibility: hidden;
  position: fixed;
  background: #fff;
  color: #555;
  font-family: sans-serif;
  font-size: 11px;
  box-shadow: 2px 2px 2px 0px rgba(143, 144, 145, 1);
  padding: 0px;
  border: 1px solid #C6C6C6;
}

#menu a {
  display: block;
  color: #555;
  text-decoration: none;
  padding: 6px 8px 6px 30px;
  width: 250px;
  position: relative;
}

#menu a img {
  height: 20px;
  font-size: 17px;
  width: 20px;
  position: absolute;
  left: 5px;
  top: 2px;
}

#menu a span {
  color: #BCB1B3;
  float: right;
}

#menu a:hover {
  color: #fff;
  background: #3879D9;
}

#menu hr {
  border: 1px solid #EBEBEB;
  border-bottom: 0;
}

.kanban-board header {
    padding: 8px 8px 8px 0;
}