
/*.login-page {
/*    background: url(../../../Icons/TrackingCore/Attachment/Icons/Autorisation.jpg) no-repeat;
}

/* Глобальные */
/*html, html body {
        font-family: Monserat, Geneva, sans-serif;
}
/*.login-page {
/*        background: url(../../../icons/WFlow/Attachment/Icons/logo/background.png) no-repeat;
/*        background-size: cover;
/*}
.indicator__loader{
        background: url(../../../icons/WFlow/Attachment/Icons/logo/loader.png) no-repeat;
        background-size: contain;
}
.login-layout__form::after {
        background: url(../../../icons/WFlow/Attachment/Icons/Consyst_logo_rus_whi.png);
        background-repeat: no-repeat;
        -webkit-background-size: 260px auto;
        background-size: 260px auto;
        content: '';
        height: 90px;
        margin: 40px 0px 0px -5px;
        width: 260px;
}*/

/* Задачи */
.report .rep .hdr1, .report .rep th.hdr {
        background-color: #424242;
        color: #eee;
}
.report td, .report th {
        border-color: #5c5c5c;
}
.report .rep .hdr1:hover, .report .rep th.hdr:hover {
        color: #dfd;
}
/* Вкладки */
.tab-bar__tab {
        border-radius: 5px;
        box-shadow: 0 0 5px 2px hsl(0deg 0% 66% / 40%);
        height: 30px;
        margin-top: 5px;
        margin-bottom: 5px;
}
.tab-bar__tab_active {
        box-shadow: 0 0 5px 2px hsl(0deg 0% 66% / 40%);
}
.tab-bar__tab-title {
        align-items: center;
        background: linear-gradient(90deg, #7b7f99 240px, #f6f6f6);
        display: inline-flex;
        margin-right: 2px;
        padding: 4px 5px;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
.tab-bar__tab_active.tab-bar__tab-title {
        background: linear-gradient(90deg, #7b7f99 240px, #fff);
}
.tab-bar__tab-icon_close {
        align-items: center;
        display: inline-flex;
        color: #7b7f99;
        font: normal normal normal 12px/1 FontAwesome;
        justify-content: center;
        height: 14px;
        width: 14px;
}
.tab-bar__tab-icon_close:hover {
        background-color: #d7d8e0;
        border-radius: 50%;
        color: #7b7f99;
}
.fa-times-circle:before {
         /*change for fa-close content*/
        content: "\f00d";
}
.tab-bar__slide-bar.slide-bar {
        height: 40px;
}

.tabs__tab-title {
background: #f5f5f5;
border: 1px solid #ccc;
padding: 4px 10px 6px 10px;
color: #3e3e3e;
}

.tabs__tab-title_active {
border-color: #d2d2d2;
background: #fff;
border-bottom: #fff;
font-weight: bold;
box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.string_wrapped .string__input {
  white-space: nowrap;
}

/* Дополнительно прописываем свойства для хлебных крошек */
.bread-crumbs {
   /* Данное свойство отключает хлебные крошки, но остаётся пустое пространство */
   visible: hiddn;
   /* Задаём высоту нуль, чтобы убрать пустое пространство */
   height: 0;
}

.main-menu__left-bar {
   display: none;
}

[data-item-id="main-menu_item_Module_TaskManagement_User$Panel_TaskManagement_User$GroupMemberAdmin"] {
   pointer-events: none;
   visibility: hidden;
   display: none;
}

.main-menu__category {
   pointer-events: all
}

[data-testid="main-menu_item_Module_TaskManagement_User$Panel_TaskManagement_User$GroupMemberAdmin"],
[data-testid="main-menu_item_Module_TaskManagement_Project_Manager$Panel_TaskManagement_Project_Manager$GroupMemberAdmin"],
[data-testid="main-menu_item_Module_TaskManagement_Project_Manager$Panel_TaskManagement_Project_Manager$GroupProjects_icon"] {
   visibility: hidden;
}

[data-testid="main-menu_item_Module_TaskManagement_User$Panel_TaskManagement_User$GroupMemberAdmin"],
[data-testid="main-menu_item_Module_TaskManagement_Project_Manager$Panel_TaskManagement_Project_Manager$GroupMemberAdmin"] {
   display: none;
}

[data-testid="main-menu_item_Module_TaskManagement_User$Panel_TaskManagement_User$GroupSettings"],
[data-testid="main-menu_item_Module_TaskManagement_User$Panel_TaskManagement_User$GroupReports"],
[data-testid="main-menu_item_Module_TaskManagement_User$Panel_TaskManagement_User$GroupProjects"],
[data-testid="main-menu_item_Module_TaskManagement_Project_Manager$Panel_TaskManagement_Project_Manager$GroupProjects"],
[data-testid="main-menu_item_Module_TaskManagement_Project_Manager$Panel_TaskManagement_Project_Manager$GroupSettings"],
[data-testid="main-menu_item_Module_TaskManagement_Project_Manager$Panel_TaskManagement_Project_Manager$GroupReports"] {
   color: black;
   margin-top: 15px;
   margin-bottom: 8px;
}

[data-item-id="Module_TaskManagement_Project_Manager$Panel_TaskManagement_Project_Manager$GroupProjects"],
[data-item-id="Module_TaskManagement_User$Panel_TaskManagement_Project_Manager$GroupProjects"] {
   pointer-events: none;
}

[data-item-id="Module_TaskManagement_Project_Manager$Panel_TaskManagement_Project_Manager$GroupReports"] img {
     visibility: hidden
}

[data-item-id="Module_TaskManagement_User$Panel_TaskManagement_User$GroupReports"] img {
     visibility: hidden
}

[data-item-id="Module_TaskManagement_Project_Manager$Panel_TaskManagement_Project_Manager$GroupSettings"] img {
     visibility: hidden;
}