body {
    font-family: Montserrat;
}

.card_main {
    background: #fff;
/*    border-left-color: lightgray;
    border-left-style: solid;
    border-left-width: 5px;     */
    border-color: #DBDDE7;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    font-size: 12px;
    padding: 12px;
}

.card_main:hover {
    background: #f5f6fa;
}

.card_header_main span {
    vertical-align: middle;
    font-size: 12px;
    line-height: 16px;
}

.card_header img {
    vertical-align: middle;
}

.card_body {
    margin-top: 12px;
    margin-right: -6px;
    font-size: 14px;
    line-height: 16px;
}

.card_footer {
    margin-top: 12px;
    font-size: 12px;
}

.card_footer span {
    background-color: #efefef;
    border: 0;
    border-radius: 8px;
    margin-right: 4px;
    line-height: 16px;
}

.card_footer .end_date {
    float: right;
    margin: -2px -4px 0 0;
    padding: 2px 8px;
}

.card_footer .start_date {
    padding: 2px 8px;
}

.card_icon {
    height: 12px;
    width: 12px;
    margin-right: 4px;
}

.card_avatar {
    height: 32px;
    width: 32px;
    margin-top: -20px;
    margin-right: -4px;
}

.card_float {
    float: right;
}

.kanban-board.is-moving.gu-mirror {
    transform: none;
}

.kanban-item {
    animation: none;
    background: none;
    margin-bottom: 4px;
}

.kanban-item.is-moving.gu-mirror {
    transform: none;
}

.kanban-board-header {
    background: inherit;
    border-radius: 3px;
    position: relative;
    width: 275px;
    height: 35px;
}

.card-item {
    font-size: 12px;
    border-radius: 8px;
    margin: 12px 2px 0px 0px;
    padding: 0px 8px;
    display: inline-block;
    line-height: 16px;
}

.card_footer_hour {
    margin: 12px 0px;
    font-size: 12px;
}

.card_footer_hour span {
    border-radius: 8px;
    padding: 2px 8px;
}

.card_footer_hour .fact_hour {
    float: right;
    margin: -2px -4px 0 0;
}

.kanban-item-counter {
  font-size: 14px;
  color: #A2A5B8;
  font-weight: 400;
  line-height: 20px;
}

.kanban-board .kanban-drag {
    min-height: 30px;
    background: #F5F6FA;
    border-radius: 8px;
    padding: 0px;
}

.kanban-board header .kanban-title-board {
    margin-left: 16px;
    margin-right: 8px;
    line-height: 24px;
    font-size: 15px;
}

.kanban-board header {
    padding: 8px 12px 8px 0;
    background: #F5F6FA;
    margin-bottom: 8px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.kanban-board {
    background: #fff;
    margin-left: 10px;
    margin-right: 10px;
}

.kanban-board .kanban-with-tasks {
    background: #fff;
}

.kanban-container {
  margin-top: 10px;
}

