body     {font-family: Verdana, Arial, sans-serif; font-size: 10pt}
H1       {font-size:14pt; font-weight:bold; color:blue; text-align:left; margin-top:10px; margin-bottom:0px}
H2       {font-size:14pt; font-weight:bold; color:navy; text-align:left; margin-top:10px; margin-bottom:0px}
H3       {font-size:12pt; font-weight:bold; color:navy; text-align:left; margin-top:10px; margin-bottom:0px}
H4       {font-size:11pt; font-weight:bold; color:navy; text-align:left; margin-top:10px; margin-bottom:0px}
p        {text-align:justify; margin-top:10px; margin-bottom:10px}

#code     {font-family: Courier; font-size: 10pt}
pre       {background: WhiteSmoke; padding: 5px 20px}

center   {text-align:center;}

img            {max-width: 95%; }

code.a img {border: 2px solid #ddd; border-radius: 4px; display: block;  margin-left: 10px;  margin-right: auto;}

code.b img {border: 2px solid red; border-radius: 4px; display: block;  margin-left: 10px;  margin-right: auto;}

blockquote { margin: 15px 0; border-left: 4px solid #DDD; padding: 0 15px; color: #777; }
blockquote>:first-child { margin-top: 0px;}
blockquote>:last-child { margin-bottom: 0px;}


