.wx-kanban.svelte-13hgtri.svelte-13hgtri{
     padding-left: 4px;
}

.wx-card.svelte-1t9rqgm {
     margin: 2px 0px;
}

.wx-column.svelte-1ppa004.svelte-1ppa004 {
     margin-top: 2px;
     margin-left: 4px;
}

.wx-column.svelte-ms9wpd.svelte-ms9wpd {
     margin-left: 4px;
     padding: 6px var(--wx-padding);
}

.wx-header.svelte-bteu5p {
     padding: 8px 0 4px 0;
}

.wx-label.svelte-ms9wpd.svelte-ms9wpd {
     font-weight: var(--wx-font-weight);
     font-size: var(--wx-font-size);
     white-space: nowrap;
     margin-right: 20px;
     text-overflow: ellipsis;
     overflow: hidden;
}

#root .wx-column {
    /* min width */
    --wx-kanban-column-width: 242px;
}

.wx-material-theme {
    --wx-padding: 12px;
    --wx-kanban-header-height: 44px;
}

.swimlane-column .wx-content.svelte-30nbk4{
    max-height: 420px;
}

.single-first-row.swimlane-column .wx-content.svelte-30nbk4{
    max-height: calc(100vh - (var(--wx-kanban-header-height) + 32px + 18px));;
}

