#root .wx-header {
    width: 100%;
}
#root .wx-column {
    /* min width */
    --wx-kanban-column-width: 480px;
}


#root .wx-column {
        container-type: inline-size;
        container-name: column;
}

#root .wx-kanban {
        container-type: inline-size;
        container-name: kanban;
}

.first-column{
        padding-left: 16px !important;
        margin-left: 0px !important;
        padding-right: 16px !important;
        background: #F7F7F8 !important;
        border-radius: 0px 0px 6px 6px !important;
}

.wx-header.svelte-bteu5p{
        padding: 0 !important;
}

.wx-label-line{
        display: none !important;
}

.wx-header.fixed.svelte-bteu5p{
        background:#FFFFFF !important;
}

.wx-card.svelte-1t9rqgm {
        margin: 8px 0 !important;
}

.wx-column.svelte-1ppa004.svelte-1ppa004{
        margin-left: 24px;
}
 
.wx-column.svelte-ms9wpd.svelte-ms9wpd{
        border: 0 !important;
        border-radius: 6px 6px 0px 0px !important;
        margin-left: 24px;
}


.wx-kanban.svelte-13hgtri.svelte-13hgtri{
        background:#FFFFFF !important;
}

.empty-sprint {
        text-align: left;
        position: absolute;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: var(--neutral-neutral-4, #F7F7F8);
        border-radius: 8px;
        padding: 12px;
}
.empty-sprint-header {
        font-weight: var(--wx-font-weight);
}

.wx-collapsed .empty-sprint{
        display: none;
}

.card-item {
    margin: 0px 2px 0px 0px !important;
}

.wx-collapse-icon.svelte-ms9wpd.svelte-ms9wpd:hover {
    background: none !important;
}

.wx-menu.svelte-ms9wpd.svelte-ms9wpd:hover {
    background: none !important;
}
