.cm-editor {
  width: 100%;
  font-size: 18px;
}
.cm-editor-header {
  font-size: 20px;
  min-height: 36px;
  box-shadow: 0 0 6px hsla(240, 100%, 50%, 0.2);
}
.cm-editor-title {
  font-family: Consolas;
}
.cm-editor-container {
  position: relative;
}
.cm-editor-save, .cm-editor-img {
  padding: 6px 12px;
  color: white;
  cursor: pointer;
  border: none;
  font-size: inherit;
}
.cm-editor-img {
  background-color: hsl(147, 100%, 30%);
}
.cm-editor-img:hover {
  background-color: hsl(147, 80%, 45%);
}
.cm-editor-save {
  background-color: hsl(207, 100%, 50%);
}
.cm-editor-save:hover {
  background-color: hsl(207, 100%, 70%);
}
