body {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10pt;
  width:100%;
  height:100%;
  margin:0;
  padding:0
}

div.enter-page  {
  background: url(../webui/public/images/background.jpg) no-repeat;
  background-size: cover;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

div.enter-form  {
  align-self: center;
  justify-content: center;
  padding: 20px;

  height: 100%;
  position: relative;

  display: flex;
  flex-direction: column;
}

div.enter-form-v  {
/*  background-color: rgba(0,0,0,0.1); */
  padding: 0px;
}


div.enter-logo  {
  background-image: url(../webui/public/images/turbo-logo-sprite.svg);
  background-position: 0 -237px;
  background-repeat: no-repeat;
  -webkit-background-size: 229px auto;
  background-size: 229px auto;
  height: 73px;
  width: 230px;
  margin: 0 auto 20px;
}

div.enter-panels  {
/*background-color: rgba(0,0,0,0.05);*/

  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

div.enter-vpanel  {
  background-color: rgba(0,0,0,0.15);
  min-width: 250px;
  margin: 10px;
  padding: 10px;
}

div.enter-form label  {
  color: #fff;
  display: block;
  font-weight: bold;
  font-size: 13px;
  margin: 0 auto 10px;
}

div.enter-form a  {
  color: rgb(220,220,220);
  text-decoration: none;
  display: block;
  padding: 1px;
}

div.enter-form a:hover  {
  background-color: rgb(0,128,192);
}

